<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/css/auth/authentication.css" />

    <%- include('../includes/bootstrap.ejs') %>

    <script defer>

    </script>
</head>
<body>
    <div id="form-wrapper">
        <form action="/password-reset" method="POST" id="login-form" onsubmit="showLoadingSpinner('loading-spinner-wrapper')">
            <div class="alert alert-info" role="alert">
                Want to submit your attendance token? Click <a href="/attendance">here!</a>
            </div>
            <div class="alert alert-info" role="alert">
                Dont't have an attendance token? Click <a href="/attendance-token">here</a> to get one!
            </div>
            <img src="/images/logo.png" width="60" height="60"/>
                <% if (!tokenSent && !invalidToken && !validToken && !passwordChanged) { %>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email" required>
                <% } %>
                <% if (tokenSent) { %>
                    <div class="alert alert-success confirmation-email-sent" role="alert">
                        A confirmation token has been sent to your email. Please enter it below. 
                    </div>
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Token" name="token" required>
                <% } %>
                <% if (validToken) { %>
                    <div class="alert alert-success confirmation-email-sent" role="alert">
                        Token verified! Now, for the final step: create a rock-solid password!</a>
                    </div>
                    <input type="password" class="form-control" id="email" aria-describedby="emailHelp" placeholder="New Password" name="password" required>
                <% } %>
                <% if (invalidToken) { %>
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Token" name="token" required>
                    <p class="auth-failed">Invalid token! Please try again and create a new one <a href="/password-reset">here</a>, or email nhscompsciclub@gmail.com for help!</p>
                <% } %>
                <% if (emailDoesNotExist) { %>
                    <p class="auth-failed">Email does not exist! To create an account, register <a href="/register">here</a></p>
                <% } %>
                <% if (passwordChanged) { %>
                    <div class="alert alert-success confirmation-email-sent" role="alert">
                        Password successfully changed! Log in <a href="/login">here.</a>
                    </div>
                <% } %>
                <div id="submit-btn-wrapper">
                
                <% if (!tokenSent && !invalidToken && !validToken && !passwordChanged) { %>
                    <button type="submit" class="btn btn-info" id="login-btn">Confirm Email</button>
                <% } %>

                <% if (tokenSent || invalidToken) { %>
                    <button type="submit" class="btn btn-info" id="login-btn">Confirm Token</button>
                <% } %>

                <% if (validToken) { %>
                    <button type="submit" class="btn btn-info" id="login-btn">Change Password</button>
                <% } %>
            </div>
            <% if (!passwordChanged && !validToken) { %>
                <p>Don't have an account? Register <a href="/register">here!</a></p>   
            <% } %>
        </form> 
    </div>
</body>
</html>