@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace !important;
  box-sizing: border-box !important;
}

html,
body {
  background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  margin: 0px;
  height: 100%;
}

#form-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#email {
  margin-top: 25px;
}

#register-form,
#login-form {
  background-color: white;
  border-radius: 0.25rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 60%;
  margin: auto;
}

#create-account-btn,
#login-btn {
  margin: 20px 5px 20px 0px;
  width: 150px;
}

.loading-spinner-wrapper {
  visibility: hidden;
}

.alert {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-control {
  margin: 5px 0px 5px 0px;
}

.confirmation-email-sent {
  margin-top: 35px;
}

.auth-failed {
  color: maroon;
}

p {
  text-align: left;
}

a {
  text-decoration: underline !important;
}

@media (max-width: 500px) and (orientation: portrait) {
  #register-form,
  #login-form {
    margin-top: 50px;
    width: 80%;
  }
}
