@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace !important;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0px;
  height: 100%;
  background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}

#token-form,
#attendance-form,
#form-wrapper,
#submit-btn-wrapper {
  display: flex;
}

#form-wrapper,
#submit-btn-wrapper {
  align-items: center;
}

#form-wrapper {
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

#token-form,
#attendance-form {
  justify-content: center;
  margin-top: 50px;
}

#email,
#token,
#generate-token-btn,
#submit-token-btn {
  height: 50px;
  width: 250px;
  border: none;
}

#generate-token-btn,
#submit-token-btn {
  margin-left: 5px;
  margin-right: 5px;
}

.loading-spinner-wrapper {
  visibility: hidden;
}

.alert {
  margin: 10px auto 10px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 45%;
  text-align: center;
}

p {
  text-align: center;
  color: white;
}

a {
  text-decoration: underline !important;
}

@media (max-width: 800px) {
  #token-form,
  #attendance-form {
    flex-direction: column;
    align-items: center;
  }
}
