@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace !important;
  box-sizing: border-box !important;
}

#token-form,
#attendance-form {
  justify-content: center;
  margin-top: 20%;
  display: flex;
}

#email,
#token,
#generate-token-btn,
#submit-token-btn {
  border-radius: 0px;
  height: 50px;
  width: 250px;
}

#generate-token-btn,
#submit-token-btn {
  margin-left: 5px;
}

.alert {
  margin: 0px auto 10px auto;
  width: 45%;
  text-align: center;
}

p {
  text-align: center;
}

a {
  text-decoration: underline !important;
}

@media (max-width: 800px) {
  #token-form {
    flex-direction: column;
    align-items: center;
  }
}
