@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace !important;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0px;
  height: 100%;
  background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}

#chat-wrapper,
#message-form {
  display: flex;
}

#navbar,
#chat-wrapper {
  width: fit-content;
}

#admin-token-spinner-wrapper,
#receive-notifications-spinner-wrapper {
  margin-left: 5px !important;
}

#admin-token-spinner-wrapper {
  display: none;
}

#admin-alert {
  margin: 0px;
  text-align: center;
  display: none;
}

#chat-wrapper {
  height: 80%;
  margin: auto;
  justify-content: center;
  flex-direction: row;
}

#chat-area {
  margin-bottom: 20px;
}

#chat-area {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-top: none;
  border-bottom: none;
  width: 80%;
  position: relative;
}

#messages-wrapper,
#navbar {
  padding: 0px;
}

#messages-wrapper {
  max-height: 100%;
  overflow: scroll;
}

#server-error {
  border-radius: 0px;
  visibility: hidden;
}

#navbar {
  height: fit-content;
  text-align: center;
}

#message,
#send-chat-btn {
  border-radius: 0px;
}

#message {
  width: 100%;
  border-left: none;
}

#message-form {
  width: 100%;
  position: absolute;
  bottom: 0px;
}

#chat-spinner-wrapper,
#receive-notifications-spinner-wrapper {
  visibility: hidden;
}

.nav-link-wrapper,
.message-wrapper {
  list-style: none;
}

.delete-chat-btn {
  padding: 1px;
  border-radius: 0px;
}

.nav-link-wrapper {
  padding: 10px;
}

.naughty-message {
  color: rgb(243, 11, 11) !important;
}

.message-wrapper {
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  border-bottom: 1px solid #ced4da;
}

.email,
.data {
  padding: 3px;
}

.email {
  padding: 5px;
  background-color: rgba(0, 217, 255, 0.741);
}

.date {
  padding: 5px;
  background-color: rgba(250, 122, 3, 0.775);
}

.message {
  color: white;
  word-wrap: break-word;
  padding-right: 10px;
}

.nav-link-wrapper button {
  background-color: white;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-link-wrapper button:hover {
  background-color: rgba(255, 255, 255, 0.748);
}
