@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  font-family: 'Inconsolata', monospace !important;
  box-sizing: border-box !important;
}

html,
body {
  margin: 0px;
  height: 100%;
  background-color: rgb(55, 55, 55);
}

#chat-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: row;
}

#chat-area {
  height: 80%;
}

#chat-area {
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
  width: 80%;
  position: relative;
}

#messages-wrapper,
#navbar {
  padding: 0px;
}

.nav-link-wrapper,
.message-wrapper {
  list-style: none;
}

#messages-wrapper {
  max-height: 100%;
  overflow: scroll;
}

.nav-link-wrapper {
  padding: 10px;
}

.nav-link-wrapper button {
  background-color: rgba(17, 105, 187, 0.124) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.25rem;
}

#server-error {
  border-radius: 0px;
  visibility: hidden;
}

.naughty-message {
  color: rgb(243, 11, 11) !important;
}

#navbar {
  height: fit-content;
  width: fit-content;
  text-align: center;
}

.message-wrapper {
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  border-bottom: 1px solid white;
}

#message {
  width: 100%;
  border: none;
  border-radius: 0px;
}

.email {
  background-color: rgb(21, 197, 21);
  padding: 3px;
}

.date {
  padding: 3px;
  background-color: orange;
}

#send-chat-btn {
  border-radius: 0px;
}

.message {
  color: white;
  word-wrap: break-word;
  padding-right: 10px;
}

#message-form {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: row;
  bottom: 0px;
}
