#color-themes {
  padding: 0px;
}

#theme-header {
  margin-bottom: 20px;
}

#account-handler-buttons {
  margin-top: 10px;
}

#settings-updated-alert,
#settings-failed-alert,
#invalid-admin-token-alert {
  display: none;
}

#invalid-admin-token-alert {
  margin-top: 10px;
}

#admin-token-wrapper {
  background-color: white;
  display: flex;
  padding: 15px;
}

#admin-token,
#submit-admin-token-btn {
  border-radius: 0px;
}

#admin-token {
  border-right: none;
}

.color-theme {
  list-style: none;
  margin: 5px 0px 5px 0px;
}

.color-theme button {
  width: 175px;
  padding: 5px;
}

#client-email div {
  margin-top: 5px;
}

#client-password div {
  color: rgb(7, 153, 7);
  margin-top: 5px;
}

#theme-header,
.dropdown-btn,
.modal-title,
.close {
  color: white !important;
}

.dropdown-btn:hover {
  text-decoration: none;
}

.card-header,
.modal-body,
.modal-content {
  background-color: rgb(44, 44, 44);
}

.modal-body {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-body {
  background-color: rgb(55, 55, 55);
}
