<div class="modal fade" id="admin-modal" tabindex="-1" role="dialog" aria-labelledby="admin-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="admin-modal-label">Admin Settings<img src="https://img.icons8.com/dusk/64/000000/admin-settings-male.png" width="35" height="35"/></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Blacklisted Emails<img src="https://img.icons8.com/fluent/48/000000/cancel-2.png" width="25" height="25"/>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <form onsubmit="event.preventDefault()" id="blacklist-form">
                        <input type="email" class="form-control" id="to-be-blacklisted-email" aria-describedby="emailHelp" placeholder="person@student.gn.k12.ny.us" name="email" required>
                        <button type="btn" class="btn btn-danger" id="blacklist-btn">Blacklist</button>
                      </form>
                      <div class="alert alert-danger" id="blacklist-failed-alert" role="alert">
                        Oops! Unable to blacklist email.
                      </div>
                      <div class="alert alert-success" id="removed-blacklist-email-alert" role="alert">
                        Deleted blacklisted email successfully!
                      </div>
                      <div class="alert alert-success" id="removed-blacklist-email-fail-alert" role="alert">
                        Oops! Unable to remove blacklisted email.
                      </div>
                      <ul class="list-group" id="blacklisted-emails-ul">
                        <% for (let i = 0; i < blacklistedEmails.length; i++) { %>
                          <li class="list-group-item blacklisted-email-wrapper">
                            <p class="blacklisted-email">
                              <%= blacklistedEmails[i].email %>
                            </p>
                            <button type="btn" class="btn btn-secondary remove-blacklisted-email-btn" id="<%= blacklistedEmails[i].email %>">Remove</button>
                          </li>
                        <% } %>
                      </ul> 
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        All Admins<img src="https://img.icons8.com/dusk/64/000000/conference-call.png" heigtht="25" width="25"/>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                      <ul class="list-group">
                        <% for (let i = 0; i < admins.length; i++) { %>
                          <li class="list-group-item admin"><%= admins[i].email %></li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Admin Authentication<img src="https://img.icons8.com/flat-round/64/000000/lock--v1.png" width="25" height="25"/>
                      </button>
                    </h2>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body admin-body-wrapper">
                      <button type="btn" class="btn btn-light" id="show-admin-token-btn">Show Admin Token</button>
                      <p id="admin-token"><%= adminPassword %></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <span id="blacklist-email-spinner-wrapper">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
          <button type="button" class="btn btn-danger" id="remove-admin-status-btn">Remove Admin Status</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>