<link rel="stylesheet" href="/css/secure/settings-modal.css" />
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="settings-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="settings-modal-label">Settings <img src="https://img.icons8.com/dusk/64/000000/settings.png" width="35" height="35"/></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link  dropdown-btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Theme&nbsp;&nbsp;&nbsp;<img src="https://img.icons8.com/dusk/64/000000/paint-palette.png" width="25" height="25"/>
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <h6 id="theme-header">Select a Color Theme!</h6>
                <ul id="color-themes">
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('cotton-candy-check')">
                      Cotton Candy (default)
                    </button>
                    <span id="cotton-candy-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="30" height="30"/>
                    </span>
                  </li>
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('orange-sunset-check')">
                      Orange Sunset
                    </button>
                    <span id="orange-sunset-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="30" height="30"/>
                    </span>
                  </li>
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('purple-sunset-check')">
                      Purple Sunset
                    </button>
                    <span id="purple-sunset-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="25" height="25"/>
                    </span>
                  </li>
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('flamingo-check')">
                      Flamingo
                    </button>
                    <span id="flamingo-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="25" height="25"/>
                    </span>
                  </li>
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('northern-lights-check')">
                      Northern Lights
                    </button>
                    <span id="northern-lights-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="25" height="25"/>
                    </span>
                  </li>
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('asteroid-check')">
                      Asteroid
                    </button>
                    <span id="asteroid-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="25" height="25"/>
                    </span>
                  </li>
                  <li class="color-theme">
                    <button type="btn" class="btn btn-light" onclick="moveCheckBox('pearly-white-check')">
                      Pearly White
                    </button>
                    <span id="pearly-white-check" class="check">
                      <img src="https://img.icons8.com/color/48/000000/checked-checkbox.png" width="25" height="25"/>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed  dropdown-btn" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Account  <img src="https://img.icons8.com/officel/30/000000/private-cloud-storage.png"/>
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item" id="client-email">Email: <div><%= email %></div></li>
                  <li class="list-group-item" id="client-password">Password: <div><%= password %></div></li>
                </ul>
                <div id="account-handler-buttons">
                  <button type="button" class="btn btn-danger" onclick="deleteAccountConfirmation()">Delete Account</button>
                  <a href="/password-reset">
                    <button type="button" class="btn btn-light">Change Password</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <% if (!isAdmin) { %>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed dropdown-btn" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Admin&nbsp;&nbsp;&nbsp;<img src="https://img.icons8.com/dusk/64/000000/admin-settings-male.png" width="25" height="25"/>
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div id="admin-token-wrapper">
                    <input type="password" class="form-control" id="admin-t" placeholder="Admin Token" name="adminToken" required>
                    <button type="btn" class="btn btn-info" id="submit-admin-token-btn">Submit</button>
                    <div id="admin-token-spinner-wrapper">
                      <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-danger" id="invalid-admin-token-alert" role="alert">
                    Invalid admin token!
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  const deleteAccountConfirmation = () => {
    const res = prompt('Type in your account password to confirm the deletion of this account.');

    fetch('/home', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
          },
        body: JSON.stringify({ password: res.trim() }),
    }).then(async (res) => {
      if (await res.text() === 'true') {
        window.location.href = '/register/?accountDeleted=yes';
      } else {
        alert('Invalid password. Please try again, or contact nhscompsciclub@gmail.com for more help.');
      }
    })
  };

  const moveCheckBox = (id) => {
    const checks = document.querySelectorAll('.check');

    checks.forEach((check) => {
      if (check.id !== id) {
        check.style.display = 'none'
      } else {
        check.style.display = 'inline-block'
        window.sessionStorage.setItem('theme', id);
      }
    });

    const colorTheme = window.sessionStorage.getItem('theme').split('-check')[0] ?? 'cotton-candy';

    const setColorTheme = (b1, b2, b3) => {
      const body = document.querySelector('body');
      const html = document.querySelector('html');

      body.style.background = b1;
      body.style.background = b2;
      body.style.background = b3;

      html.style.background = b1;
      html.style.background = b2;
      html.style.background = b3;
    }

    if (colorTheme === 'cotton-candy') {
      setColorTheme('#aa4b6b', '-webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b)', 'linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b)');
    } else if (colorTheme === 'orange-sunset') {
      setColorTheme('#FF5F6D', '-webkit-linear-gradient(to right, #FFC371, #FF5F6D)', 'linear-gradient(to right, #FFC371, #FF5F6D)');
    } else if (colorTheme === 'pearly-white') {
      setColorTheme('#ADA996', '-webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996)', 'linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996)');
    } else if (colorTheme === 'purple-sunset') {
      setColorTheme('#7F00FF', '-webkit-linear-gradient(to right, #E100FF, #7F00FF)', 'linear-gradient(to right, #E100FF, #7F00FF)');
    } else if (colorTheme === 'flamingo') {
      setColorTheme('#ec008c', '-webkit-linear-gradient(to right, #fc6767, #ec008c)', 'linear-gradient(to right, #fc6767, #ec008c)');
    } else if (colorTheme === 'northern-lights') {
      setColorTheme(' #8360c3', '-webkit-linear-gradient(to right, #2ebf91, #8360c3)', 'linear-gradient(to right, #2ebf91, #8360c3)');
    } else if (colorTheme === 'asteroid') {
      setColorTheme(' #0F2027', '-webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027)', 'linear-gradient(to right, #2C5364, #203A43, #0F2027)');
    }
  }
</script>
<script defer>
  moveCheckBox(window.sessionStorage.getItem('theme') || 'cotton-candy');
</script>