<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="/css/attendance.css" />

    <%- include('../includes/bootstrap.ejs') %>

</head>
<body>
    <form action="/attendance" method="POST" id="token-form">
        <div class="form-group" id="email-wrapper">
          <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Attendance Token" name="token" required>
        </div>
        <button type="submit" class="btn btn-warning" id="generate-token-btn">Submit Attendance Token</button>
    </form>
    <% if (notTakingAttendance) { %>
        <div class="alert alert-danger" role="alert">
            Attendance tokens are currently not being accepted!
        </div>
    <% } else if (invalidToken) { %>
        <div class="alert alert-danger" role="alert">
            Token is invalid!
        </div>
    <% } else if (meetingOverflow) { %>
        <div class="alert alert-danger" role="alert">
            Please wait until the next meeting to submit your token!
        </div>
    <% } else if (attendanceUpdated) { %>
        <div class="alert alert-success" role="alert">
            Attendance updated for the week of <%= date %>!
        </div>
    <% } %>
    <p>Don't have a token? Get one <a href="/attendance-token">here</a></p>
</body>
</html>