<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="/css/attendance/attendance.css" />

    <%- include('../includes/bootstrap.ejs') %>

</head>
<body>
    <div id="form-wrapper">
        <form action="/attendance" method="POST" id="token-form" onsubmit="showLoadingSpinne('loading-spinner-wrapper')">
            <div class="alert alert-info" role="alert">
                Want to chat live? Click <a href="/login">here</a> to log in!
            </div>
            <div class="alert alert-info" role="alert">
                Don't have an account? Click <a href="/register">here</a> to register!
            </div>
            <img src="/images/logo.png" width="60" height="60"/>
            <div class="form-group" id="token-wrapper">
                <input type="text" class="form-control" id="token" aria-describedby="emailHelp"placeholder="Attendance Token" name="token" required>
            </div>
            <% if (notTakingAttendance) { %>
                <div class="alert alert-danger" role="alert">
                    Attendance tokens are currently not being accepted!
                </div>
            <% } else if (invalidToken) { %>
                <div class="alert alert-danger" role="alert">
                    Token is invalid!
                </div>
            <% } else if (meetingOverflow) { %>
                <div class="alert alert-danger" role="alert">
                    Please wait until the next meeting to submit your token!
                </div>
            <% } else if (attendanceUpdated) { %>
                <div class="alert alert-success" role="alert">
                    Attendance updated for the week of <%= date %>!
                </div>
            <% } %>
            <div id="submit-btn-wrapper">
                <button type="submit" class="btn btn-info">Submit AttendanceToken</button>
            </div>
            <p>Don't have a token? Get one <a href="/attendance-token">here</a></p>
        </form> 
    </div>
</body>
</html>